/*External styling sheet for App.js*/

/*Importing font from Google*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*Using the universal selector to set whole page styling*/
body {
  background-color: rgb(73, 73, 73);
}

* {
  font-family: 'Roboto Mono', monospace;
  color: white;
  margin: 0;
  padding: 0;
}

/*styling for the element with the class name App*/
.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0 2.5rem 0;
}

/*Styling for the info icon*/
img {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.2rem;
  margin: 1rem 1rem 0 0;
  cursor: pointer;
  z-index: 3;
}

/*Styling the information div that appears when hovering over the icon*/
.information {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 15rem;
  margin: 1rem 1rem 0 0;
  padding: 3rem 1rem 1rem 1rem;
  font-size: 0.9rem;
  text-align: center;
  background-color: rgb(135, 135, 135);
  z-index: 2;
}

img:hover ~ .information {display: block;}

/*Styling h1 elements*/
h1 {
  font-size: 6rem;
}

/*styling for the element with the class name Form*/
.Form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
}

/*Styling form labels*/
.Form label {
  line-height: 2;
}

/*Styling form inputs*/
.Form label input {
  width: 9rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  border: 2px solid white;
  background-color: rgb(135, 135, 135);
}

/*styling for the elements with the class name Buttons and inputButtons*/
.Buttons, .inputButtons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/*Styling for all buttons within the Buttons and inputButtons classes*/
.Buttons > button, .inputButtons > button {
  font-size: 1.1rem;
  margin: 0 2rem;
  width: 9rem;
  height: 2rem;
  border: 2px solid white;
  cursor: pointer;
  background-color: rgb(73, 73, 73);
}

/*Setting unique styling for the inputButtons buttons*/
.inputButtons > button {
  margin-top: 1rem;
}

/*Setting unique styling for the Buttons buttons*/
.Buttons > button {
  margin-top: 4rem;
  background-color: rgb(135, 135, 135);
}

/*Setting hover effects on all buttons*/
.inputButtons > button:first-child:hover {background-color: darkgreen;}
.inputButtons > button:last-child:hover {background-color: darkred;}
.Buttons > button:first-child:hover {background-color: darkgreen;}
.Buttons > button:last-child:hover {background-color: darkred;}